/* You can add global styles to this file, and also import other style files */
table{
    width: 100%;
}

.example-container{
    overflow-x: scroll;
}

th{
    background-color: rgb(39, 175, 185);
    color: white;
    margin: 0 15px 0;
}

table{
    border-collapse: collapse
}

tr:hover{
    background-color: #adf1f6; 
}

h2{
    color: #096066
}